.about {
  height: 20vh;
  overflow: scroll;
}

.about p {
  margin-top: 5vh;
  height:max-content;
  color: black;
  height: max-content;
  text-align: justify;
  margin: auto;
}

.about h2 {
  text-align: center;
  margin-left: auto;
  margin-right:auto;
  margin-bottom:10px;
  font-weight: 900;
}
