.user-notes-display {
  background-image: url(../public/images/pink-notepad.png);
  height:fit-content;
  background-position: center;
  background-repeat: no-repeat;
  background-repeat: repeat-y;
  background-size: cover;
  list-style-image: url(../public/list-item.png);
  justify-content: center;
}

li {
  margin-left: 6vw;
}

