.carousel-item {
  width: 100%;
  font-size: 12px;
  color:aliceblue
}

.carousel-item p{
  margin-top: 1vh;
line-height: 0em;
text-align: center;
}

.carousel-indicators,
.carousel-indicators li {
  cursor: default;
  pointer-events: none;
  display: none;
}
