.weathercarousel {
  width: 100%;
  font-size: 12px;
  color: aliceblue;
  margin-bottom: 2vh;
}

.weather-marquee-placeholder {
  color: aliceblue;
  margin: auto;
  text-align: center;
}

.weather-marquee p {
  margin-top: 1vh;
  line-height: 0em;
  text-align: center;
}

.carousel-indicators,
.carousel-indicators li {
  cursor: default;
  pointer-events: none;
  display: none;
}

#weatherdiv {
  height: 15vh;
}